{{ header }}
from functools import partial

import httpx

"""
You can redefine client class for own needs, client should be a subclass of httpx.Client

Example:
    from httpx import AsyncClient
    ClientClass = AsyncClient

You can add default timeout or other parameters to client class with functools.partial

Example:
    from httpx import Timeout
    ClientClass = partial(httpx.Client, timeout=Timeout(60.0))

"""

ClientClass = partial(
    httpx.Client,
    timeout=httpx.Timeout(60.0),
)
