{{ header }}

import os
from typing import TypeVar

import httpx

import pytest

from framework.fixtures.http.base import ClientClass

{% for fixture in fixtures -%}
from {{ child_client_import }}.{{ service_module }}.{{ fixture.api_module }}_client import {{ fixture.api_client_class }}
{% endfor -%}


__all__ = [
    "{{ service_fixture_name }}",
{% for fixture in fixtures %}    "{{ fixture.fixture_name }}",
{% endfor %}]

ClientType = TypeVar("ClientType", bound=httpx.Client)

@pytest.fixture(scope="session")
def {{ service_fixture_name }}() -> ClientType:
    client = ClientClass()
    client.base_url = base_url=os.getenv("{{ service_module | upper }}_BASE_URL")
    return client


{% for fixture in fixtures %}@pytest.fixture(scope="session")
def {{ fixture.fixture_name }}({{ service_fixture_name }}: ClientType) -> {{ fixture.api_client_class }}:
    return {{ fixture.api_client_class }}(api_client={{ service_fixture_name }})


{% endfor %}
