{{ header }}

import os
from typing import TypeVar

import httpx

import pytest


{% for client in clients -%}
from {{ child_client_import }}.{{ service_module }}.{{ client.api_module }}_client import {{ client.api_client_class }}
{% endfor %}
from framework.fixtures.http.base import ClientClass
ClientType = TypeVar("ClientType", bound=httpx.Client)


class {{ service_class }}:
    def __init__(self, api_client: ClientType) -> None:
        self.api_client = api_client
{% for client in clients %}        self.{{ client.attribute_name }} = {{ client.api_client_class }}(api_client=api_client)
{% endfor %}

@pytest.fixture(scope="session")
def {{ service_fixture_name }}_client() -> ClientType:
    client =  ClientClass()
    client.base_url = os.getenv("{{ service_module | upper }}_BASE_URL")
    return client


@pytest.fixture(scope="session")
def {{ service_fixture_name }}({{ service_fixture_name }}_client: ClientType) -> {{ service_class }}:
    return {{ service_class }}(api_client={{ service_fixture_name }}_client)
