{{ indent }}{{ service_module }}: str | None = Field(
{{ indent }}    default=None,
{{ indent }}    alias="{{ service_env_var }}",
{{ indent }}    description="Base URL for the service",
{{ indent }})

